.buy {
  padding: 150px 0 0;
}

.buy__inner {
  display: flex;
  align-items: center;
  gap: 90px;
}
.buy__content {
  width: 510px;
  position: relative;
}
.buy__title {
  margin-bottom: 50px;
  color: #0093a1;
}
.buy__list {
  margin-bottom: 25px;
}
.buy__item {
  margin-bottom: 25px;
  width: 285px;
  cursor: pointer;
  &:hover {
    .buy__item-title {
      color: #0093a1;
    }
  }
}
.buy__item-title {
  text-transform: uppercase;
  color: #262c27;
  font-weight: 700;
  margin-bottom: 5px;
  transition: color 0.3s;
}

.buy__price {
  position: absolute;
  right: 0;
  bottom: 130px;
  width: 201px;
  height: 199px;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/star.svg);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}
.buy__btn {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  border: 2px solid #0093a1;
  color: #0093a1;
  padding: 18px;
  text-align: center;
  max-width: 484px;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #b9c400;
    border-color: #b9c400;
    color: #262c27;
  }
}
.buy__img {
}
