.footer {
  padding: 100px 0 80px;
  background-color: #262c27;
  color: #fff;
}

.footer__inner {
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__form {
  max-width: 500px;
}
.footer__title {
  margin-bottom: 27px;
}
.title {
}
.footer__form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 57px;
  color: #fff;
  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.2;
  }
}
.footer__form-btn {
  background-color: #fff;
  padding: 10px 66px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 110px;
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
}
.footer__logo {
    align-self: start;
    path{
        transition: fill .3s;
    }
    &:hover {
        & path{
            fill: #0093A1
        }
    }
}
.footer__social-title {
    margin-bottom: 28px;
    font-weight: 700;
}
.footer__gallery {
    display: grid;
    gap: 52px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}
.footer__gallery-item {
}
.footer__menu {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
.footer__menu-item {
}
.footer__menu-link {
}
