*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262c27;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img{
  object-fit: cover;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.main {
}
.popup-btn {
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  span {
    padding-top: 12px;
    display: block;
    color: #fff;
  }
}
.title {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 60px;
  line-height: 67px;
  text-transform: uppercase;
}
