.info {
  background-image: url("../images/info-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: #fff;
}
.info::before {
  content: "";
  position: absolute;
  height: 130px;
  background-color: #262c27;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-200px);
  z-index: 1;
  margin-top: 120px;
}

.info__inner {
}
.info__top {
  display: flex;
  gap: 80px;
  padding-top: 100px;
  margin-bottom: 65vh;
}
.info__top-text {
  padding-top: 245px;
  width: 290px;
  color: #fff;
  position: relative;
}
.info__top-text--one {
  padding-bottom: 120px;
}
.info__top-text--two {
  border-bottom: 1px solid #fff;
}

.info__img {
  position: relative;
  z-index: 6;
}
.info__btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.info__specs {
  display: flex;
  align-items: center;
  gap: 130px;
  padding-bottom: 50px;
}
.info__specs-title {

}
.info__specs-list {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 0;
    width: 570px;
    font-weight: 700;
}
.info__specs-item {
    margin-bottom: 15px;
    display: flex;
    gap: 25px;
}
.info__specs-item:last-child{
    margin-bottom: 0;
} 
.info__specs-caption {
    width: 185px;
}
.info__specs-text {
}
